body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.star {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  margin: auto;
}

.star::before,
.star::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-inline: 50px solid transparent;
  border-bottom: 100px solid yellow;
  transform-origin: 50% 100%;
}

.star::after {
  transform: rotate(-180deg);
	top:-70px;
}
