body {
  margin: 0;
  padding: 0;
}

.star {
	position:absolute;
  width: 1px;
  height: 1px;
	border-inline: 50px solid transparent;
	border-bottom: 100px solid rgb(255, 255, 0);
}
.star:nth-child(2){
	rotate:180deg;
	top:30px;
}